.container {
    line-height: 1;
    color: #3a3a3a;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 20px;
    padding-top: 50px;
}

.calendar-container {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 10px;
}

hr {
    border-top: 5px dotted #394263;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.homePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 1s;
}

.homePage .fadeOut {
    opacity: 0;
}

.errorPage {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.errorPage h1 {
    font-size: 20em;
    margin-bottom: 0;
}

.errorPage h2 {
    font-size: 4em;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }