.goalCard {
    width: 20em;
    height: 20em;
    margin: 0.5em;
    background: rgb(255, 255, 255);
    display: inline-block;
    color: black;
    transition: all 0.5s;
    border-radius: 5px;
  }

  .goalCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
  }

  .goalContent {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 83%;
  }

  .goalTitle {
    background-color: #394263;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
    line-height: 2;
  }

  .goalDescription {
      font-size: 1.2rem;
      padding: 1.5em;
  }

  .goalButtonRow {
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin-left: -135px;
  }

  .goalDuedate {
    position: absolute;
    bottom: 25%;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    left: 50%;
    margin-left: -160px;
  }

  .centered {
    text-align: center;
  }

  .calendarContainer {
    align-content: center;
    text-align: center;
    padding-left: 50%;
    margin-left: -175px;
  }
  
  .pastDueGoals {
    z-index: 0;
    display: inline-block;
    position: relative;
    margin-right: 15px;
  }

  .currentGoals {
    display: inline-block;
  }

  .divider{
    border-left: 3px solid #e0e0e0;
    border-radius: 50%;
    height:20em;
    position: absolute;
    display: inline-block;
    bottom: 10px;
    margin-left: 5px;
}

  .goalNewRow {
    margin-top: 10px;
    display: block;
  }