.goalCard {
    width: 20em;
    height: 20em;
    margin: 0.5em;
    border-radius: 10px;
    background: rgb(235, 235, 235);
    display: inline-flex;
    color: black;
    box-shadow:10px 10px 5px rgb(211, 211, 211);
  }

  .goalContent {
    position: relative;
    padding: 1em;
    width: 100%
  }

  .goalTitle {
      text-align: center;
      font-size: 1.5rem;
      border-bottom: 5px dotted gray;
      padding-bottom: 5px;
  }

  .goalDescription {
      font-size: 1.2rem;
      padding: 1.5em;
  }

  .goalButtonRow {
    position: absolute;
    bottom: 1%;
  }

  .goalDuedate {
    position: absolute;
    bottom: 25%;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    margin: -1em;
  }

  .centered {
    text-align: center;
  }

  .calendarContainer {
    align-content: center;
    text-align: center;
    padding-left: 50%;
    margin-left: -175px;
  }
  