.jobCard {
    width: 20em;
    height: 40em;
    margin: 0.5em;
    border-radius: 10px;
    background: rgb(235, 235, 235);
    display: inline-flex;
    color: black;
    box-shadow:10px 10px 5px rgb(211, 211, 211);
  }

  .jobContent {
    position: relative;
    padding: 1em;
    width: 100%
  }

  .jobTitle {
      text-align: center;
      font-size: 1.5rem;
      border-bottom: 5px dotted gray;
      padding-bottom: 5px;
  }

  .jobDescription {
      font-size: 1.2rem;
      padding: 1.5em;
  }

  .linkContainer {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }

  .jobButtonRowContainer {
    position: absolute;
    width: 100%;
    bottom: 1%;
    margin-left: -1em;
  }

  .jobButtonRow {
      text-align: center;
  }

  .jobStatusContainer {
      position: absolute;
      bottom: 12%;
      width: 100%;
      margin: -1em;
  }

  .jobStatus {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .updateJob, .removeJob {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0.2em;
    width: 8em;
    font-size: 1rem;
  }

  .removeJob {
    background: lightcoral;
  }

  div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
    margin: 5px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

.labelTag {
  display: inline-block;
  border: none;
  background: rgb(57, 126, 255);
  color: white;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 5px;
  border-radius: 2px;
  margin: 5px;
  border-radius: 50px;
  min-width: 20%;
  text-align: center;
}

.labelContainer {
  position: absolute;
  text-align: center;
  margin-left: -1em;
  width: 100%;
  bottom: 15%;
}