.nav-wrapper {
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: transform .3s ease-out, visibility .3s ease-out, -webkit-transform .3s ease-out;
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    background: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: static;
    text-align: center;
    width: 100%;
}

.nav-wrapper-inner{
    visibility: visible;
    pointer-events: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: none;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 6px 10px 7px;
}

.nav-logo {
    -webkit-box-align: end;
    align-items: flex-end;
    display: inline-flex;
    max-width: none;
    padding-bottom: 0;
    position: relative;
    top: 4px;
    width: 100px;
    margin: -5px 0 -6px;
}

.nav-logo-ext {
    visibility: visible;
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
}

.nav-link-container {
    visibility: visible;
    pointer-events: auto;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.nav-link-list {
    visibility: visible;
    pointer-events: auto;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    position: relative;
}

.nav-item {
    font-weight: 600;
    min-width: 200px;
    max-width: 400px;
}

.nav-item:hover {
    animation: pulse 1.25s;
    animation-iteration-count: infinite;
}

.nav-link {
    display: block;
    font-size: 0.8333333333rem;
    text-decoration: none;
    transition: 0.5s ease;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);}
    100% { transform: scale(1); }
}
